.InputContainer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
    margin-bottom: 15px;
}

.input {
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 0.9em;
    caret-color: rgb(255, 81, 0);
}

.labelforsearch {
    cursor: text;
    padding: 0px 12px;
}

.searchIcon {
    width: 13px;
}

.border {
    height: 40%;
    width: 1.3px;
    background-color: rgb(223, 223, 223);
}

.micIcon {
    width: 12px;
}

.micButton {
    padding: 0px 15px 0px 12px;
    border: none;
    background-color: transparent;
    height: 40px;
    cursor: pointer;
    transition-duration: .3s;
}

.searchIcon path {
    fill: rgb(114, 114, 114);
}

.micIcon path {
    fill: #3dcca3;
}

.micButton:hover {
    filter: drop-shadow(1px 1px 1px #0000006e);
    transition-duration: 0.6s;
}