@media (max-width: 300px) and (max-height: 600px) {
    body {
        width: 100vw;
        position: absolute;
        left: 0;
        top: 0 !important;
        overflow-y: hidden !important;
        height: 100vh !important;
    }

    main {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    main > .chat {
        position: absolute;
        top: -1rem !important;
        left: 0 !important;
    }

    main > .chat > .messages {
        position: relative;
        top: 5rem !important;
    }

    .chatForm {
        position: relative !important;
        top: 16rem !important;
    }

    .groups >.groupsAndChats {
        position: absolute;
        width: 100%;
        height: 75% !important;
        top: 5rem !important;
        padding: 0px !important;
    } 

    .groups >.groupsAndChats > .groupsList{
        height: 100% !important;
        top: 0;
    } 

    .groups>.groupsAndChats>.groupsList ul li>.infos>.infosCard>.userInfos {
        position: absolute;
        width: 75%;
        height: 10vh;
        right: 0;
        display: flex;
        flex-direction: column;
    }
    
    .groups>.groupsAndChats>.groupsList ul li>.infos>.infosCard>.userInfos h1 {
        position: absolute;
        font-size: 20px;
        left: 1rem;
    }
    
    .groups>.groupsAndChats>.groupsList ul li>.infos>.infosCard>.userInfos p {
        position: absolute;
        top: 25px;
        font-size: 15px;
        left: 1rem;
    }
    
    .groups>.groupsAndChats>.groupsList ul li>.infos>.infosCard>.userInfos>.lastMessageHour {
        position: absolute;
        top: -2.5px;
        font-size: 15px;
        left: 8rem !important;
    }

    .searchBar {
        position: absolute;
        left: 2rem !important;
    }

    .menuOptions {
        top: 91% !important;
    }
}