@media (max-width: 885px) and (max-height: 1280px){
    .options {
        display: none;
    }

    main {
        position: absolute;
        width: 100vw;
        left: 0;
    }

    main > .groups {
        width: 40vw;
        overflow: hidden;
    }

    main > .groups > .searchBar {
        height: 5vh;
        box-shadow: 0px 1px 10px 0px #000;
    }


    main > .groups > .groupsAndChats > .groupsList {
        position: relative;
        top: 1rem;
        height: 85.5vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }


    main > .groups > .groupsAndChats > .groupsList > .contact > li > .infos > .infosCard > .userInfos {
        position: relative;
        left: 1rem;
    }

    main > .groups > .groupsAndChats > .groupsList > .contact > li > .infos > .infosCard > .userInfos > .lastMessageHour {
        position: relative;
        left: 8rem;
    }

    main > .chat > .chatForm > .input {
        top: 3rem;
        width: 70vw;
    }

    main > .chat > .chatForm > .input > .messageBox > #messageInput{
        position: relative;
        left: 0.7rem;
    }

    main > .chat > .chatForm > .input > .messageBox > #sendButton{
        position: relative;
        left: 1rem;
    }

    .button-container {
        position: absolute;
        left: 2rem;
        bottom: 1.7rem;
        display: flex !important;
        background-color: var(--Main-Color-Light);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
        #a1aefa9a 5px 10px 15px;
    }

    .button-container > .button {
        color: #000;
    }
}