.feed {
    position: relative;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

.feed-section {
    display: block;
}

.posts .post {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.post-header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.post-content {
    padding: 5px;
    margin-bottom: 10px;
}

.post-content .title {
    padding: 5px;
    margin-bottom: 10px;
}

.post-content:hover {
    box-shadow: 1px 1px 5px 5px #00000025;
    cursor: pointer;
    transition: 1.7s;
}

.post-header .post-profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    padding-left: 5px;
}

.post-header .post-profile-pic img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 90%;
    border-radius: 50%;
}

.post-header .post-profile-infos {
    width: 90%;
    height: 100%;
}

.post-header .post-profile-infos p {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    margin-top: 10px;
}

.post-header .post-profile-infos p+p {
    margin-top: 5px;
}

.post-footer {
    width: 100%;
    height: 5.5vh;
    display: flex;
    flex-direction: row;
}

.post-footer .post-likes {
    width: 20%;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.post-footer .post-likes p {
    padding-left: 5px;
    font-weight: 520;
}

.post-footer .post-comments {
    width: 20%;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    text-align: center;
    margin-left: 5px;
}

.post-comments ion-icon {
    font-size: 30px;
}

.post-comments ion-icon:hover {
    scale: 1.2;
    transition: 1s;
    cursor: pointer;
}

.post-footer .post-comments p {
    padding-left: 5px;
    font-weight: 520;
}

#feed-section-active,
#explore-section-active {
    position: relative;
    animation: leftPush 1s forwards;
}

@keyframes leftPush {
    0% {
        left: -150rem;
    }

    25% {
        left: 0rem;
    }

    40% {
        left: -2.5rem;
    }

    60% {
        left: 0rem;
    }

    75% {
        left: -0.5rem;
    }

    100% {
        left: 0rem;
    }
}

/* explore section  */

main .explore-section {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}

main .explore-section .search {
    width: 100%;
    position: relative;
}

.do-a-post-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 5vw;
    right: 2.5rem;
    height: 10vh;
    z-index: 100;
    bottom: 2rem;
    position: fixed;
    border-radius: 50%;
    background-color: #d8d7d780;
}

.do-a-post-container p{
    position: absolute;
    width: 9vw;
    display: none;
}

.do-a-post {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 50%;
}

.do-a-post:hover {
    transform: translateY(-5px);
    transition: 1s;
}

.do-a-post:hover~p {
    display: block;
    top: 3rem;
    transition: 1s;
}